{% extends "index.full.html" %}

{% block main %}
<style>
	.input-group-addon > label{
		width: 12em;
		display: block;
	}
</style>
<div class="container">

	<div class="alert alert-success">
		<h1>Signup to OpenBuild (Sheffield) LTD</h1>
    	<p>We use SSL certificates to verify user accounts, it's the most secure way of ensuring your privacy.</p>   
    	<p>Please fill out the form below and we will generate a certificate for you, this will be automatically downloaded and installed onto your machine and we will also e-mail it to you so you can login on other devices.</p>
    </div>
	
	<form role="form" data-bind="submit:send">

		<fieldset>
			<legend>Signup</legend>

			<div class="form-group" data-bind="css: firstNameStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="firstName">First Name</label></span>
					<input type="text" data-bind="value: firstName, valueUpdate: 'afterkeydown'" id="firstName" class="form-control" placeholder="First name">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'firstName')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: firstNameMessage"></span>
			</div>
		
			<div class="form-group" data-bind="css: lastNameStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="lastName">Last Name</label></span>
					<input type="text" data-bind="value: lastName" id="lastName" class="form-control" placeholder="Last name">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'lastName')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: lastNameMessage"></span>
			</div>
			
			<div class="form-group" data-bind="css: emailStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="email">E-Mail</label></span>
					<input type="email" data-bind="value: email" id="email" class="form-control" placeholder="E-Mail address">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'email')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: emailMessage"></span>
			</div>
			
			<div class="form-group" data-bind="css: passwordStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="password">Password</label></span>
					<input type="password" data-bind="value: password" id="password" class="form-control" placeholder="Password">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'password')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: passwordMessage"></span>
			</div>
			
			<div class="form-group" data-bind="css: passwordRepeatStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="passwordRepeat">Repeat Password</label></span>
					<input type="password" data-bind="value: passwordRepeat" id="passwordRepeat" class="form-control" placeholder="Repeat Password">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'passwordRepeat')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: passwordRepeatMessage"></span>
			</div>
			
			<div class="form-group" data-bind="css: cityStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="city">Town or City</label></span>
					<input type="text" data-bind="value: city" id="city" class="form-control" placeholder="Town or City">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'city')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: cityMessage"></span>
			</div>
			
			<div class="form-group" data-bind="css: countyStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="county">County, State or Province</label></span>
					<input type="text" data-bind="value: county" id="county" class="form-control" placeholder="County, State or Province">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'county')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: countyMessage"></span>
			</div>
			
			<div class="form-group" data-bind="css: countryStatus">
				<div class="input-group">
					<span class="input-group-addon"><label for="country">Country</label></span>
					<input type="text" data-bind="value: county" id="country" class="form-control" placeholder="Country">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-bind="click: help.bind($data, 'country')">
							<span class="glyphicon glyphicon-question-sign"></span>
						</button>
					</span>
				</div>
				<span class="help-block" data-bind="text: countryMessage"></span>
			</div>
			
			<button type="submit" class="btn btn-default">Signup</button>

		</fieldset>

	</form>
</div>
{% endblock %}